:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html{
    box-sizing: border-box; /*para hacer que el border, pading etc afecten al ancho de nuestro elementos*/
    font-size: 62.5%; /* 1 rem = 10px*/
}

*, *:before, *:after{
    box-sizing: inherit; /*hereda de html*/
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /*interlineado*/
}

/**Globales**/

.contenedor {
   /* max-width: 120rem; establecen el tamaño máximo de un elemento
    width: 90%;  establece el ancho de un elemento */
    width: min(90%, 120rem);
    margin: 0 auto; /*colocar contenido horizontalmente*/
}

a{
    text-decoration: none; /*no causará ningún cambio*/
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;

}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*Utilidades*/

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/

.webp .header{
    background-image: url(../img/banner.webp);
}
.no-webp .header{
    background-image: url(../img/banner.jpg);
}
/** con el js modernizr podemos usar este formato de imagen**/
.header{

height: 60rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center center; /*horizontal vertical*/
}

.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
    
}
.barra{
    padding-top: 4rem;
}
@media (min-width: 768px ) {
    .barra{
    display: flex;/* al acomodar elementos dentro de un contenedor es mejor flexbox*/
    justify-content: space-between; /*horizontal la barra y moverla a la derecha*/
    align-items: center ;  
    }
}

.logo{
color: var(--blanco);
}

.logo__nombre{
font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex; /*asi evitamos que se ponga uno arriba del otro*/
        gap: 2rem;/*separacion*/
    }
}

.navegacion__enlace{
    display: block; /*para que los elementos no esten uno al lado del otro sino uno arriba de otro responsive*/
    text-align: center ;
    font-size: 1.8rem;
    color:var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--gris); /*border gris*/
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    /*eliminar el borde gris del ultimo articulo*/
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block; /*ära que en un dispositivo movil tome todo el spacio */
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    
}

@media (min-width: 768px) {
    .boton{
        display:inline-block;
    }
}
.boton:hover{
    /*aparezca mano de clip*/
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info{
    font-weight: normal ; /* grueso de la letra*/
}

.widget-curso__label,
.widget-curso__info{
    font-size: 2rem;
}

.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
/*Sobre Nosotros*/
@media (min-width: 768px) {
    .sobre-nosotros{
        /*con grid recordar que es mas facil crear las columnas menos cod */
        display:flex;
        justify-content: space-between; /*para separar el contenido*/
    }

    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{
        flex-basis: calc(50% - 1rem);
        
    }

/*
.sobre-nosotros__texto{ flex: 0 0 calc(50% - 1rem)}
.sobre-nosotros__imagen{ 0 0 calc(50% - 1rem)}

con grid se resume a :}
.sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}
*/
}
/*Cursos*/
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px ) {
    .curso{
        display: grid;
        grid-template-columns: 33.3% 66.7%; /* 1fr 2fr*/
        column-gap: 2rem; /*separar las columnas*/
    }
}

.curso:last-of-type{
    border: none;
}
/*agregar con una coma en widget para buena practicas*/
.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info{
    font-weight: normal ;
}

.curso__label,
.curso__info{
    font-size: 2rem;
}

/*Contacto*/

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
background-color: var(--blanco);
margin:-5rem auto 0 auto;
width: 95%;
padding: 5rem;
}

.campo{
 display: flex;
margin-bottom: 2rem ;
gap: 2rem;
/*por compatibilidad se recomienda padding-right: 2rem;*/
}

.campo__label{
flex: 0 0 9rem;
text-align: right;

}

.campo__field{
flex: 1;
border: 1px solid var(--gris);
}

.campo__field--textarea{
/*altura*/
height: 200px;
}